{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
  
<!--  -->
<!--  -->
  <head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title class="title">term.ooo</title>
    <link rel="icon" href="{% static 'images/termologo.png' %}">
    <link rel="stylesheet" href="{% static 'styles/stylesindex.css' %}">
    <!--<link rel="icon"
        href="{% static 'images/Mochi_Maior_2.png' %}"><!-->

  </head>

  <body>
    <!--<button class="botaouser"> <img src="{% static 'images/user.png' %}"></button> !-->
    <div class="guess-section">
      <h1> Bem Vindos ao Termo G3! </h1>
      <hr>
      <br>
      <button class="botaoindex" onclick="location.href='login'">Login</button>
      <br>
      <button class="botaocadastro" onclick="location.href='register'">Cadastre-se</button>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
  </body>
</html>
