{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="title">term.ooo</title>
    <link rel="stylesheet" href="{% static 'styles/stylespassword.css' %}">
    <link rel="icon" href="{% static 'images/termologo.png' %}">
</head>
<body>
    <button class="botaohome" onclick="location.href='../login/'"><img src="{% static 'images/voltar.png' %}"></button>
<div class="page">
    <div class="formLogin">
    <div class="page">
        <form method="POST" action="{% url 'reset_password' %}" class="ResetPasswordForm">
            {% csrf_token %}
            <h1>Redefinir Senha</h1>
            <br>
            <div class="form-group">
                <label for="id_username">Usuário</label>
                <br>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="id_new_password1">Nova Senha</label>
                <br>
                {{ form.new_password1 }}
            </div>
            <div class="form-group">
                <label for="id_new_password2">Confirme sua Senha</label>
                <br>
                {{ form.new_password2 }}
            </div>
            <hr>
            <input type="submit" value="Redefinir Senha" class="btn" />
        </form>
    </div>
</div>
</body>
</html>

<script>

